.manu {
    ul {
        li {
            cursor: pointer;
        }
    }
}
.form-check {
    .form-check-input{
        cursor: pointer;
    }
}

.image-location {
    width: 70px;
    height: 70px;
    margin-bottom: 25px;
    margin-left: 15px;
}

